/.vscode
/block.png
/boy_climb1.png
/boy_climb2.png
/boy_jump0.png
/boy_jump1.png
/boy_jump2.png
/boy_jump21.png
/boy_left1.png
/boy_left2.png
/boy_left3.png
/boy_l_stick1.png
/boy_l_stick2.png
/boy_l_stick3.png
/boy_l_stick4.png
/boy_right1.png
/boy_right2.png
/boy_right3.png
/boy_r_stick1.png
/boy_r_stick2.png
/boy_r_stick3.png
/boy_r_stick4.png
/E1_eff.png
/E1_left.png
/E1_right.png
/E2_left.png
/girl_climb.png
/girl_right1.png
/girl_right2.png
/girl_right3.png
/goal_torch12.png
/goal_torch22.png
/grave.png
/invisible.png
/laddarB.png
/life_off.png
/life_on.png
/life_plus.png